@import url('https://fonts.googleapies.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    font-family:'Poppins' , sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    outline: none; border: none ;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

    
}
:root{
    --green:#4ec367;
    --black:#222;
    --white:#fff;
    --light-color:rgb(95, 93, 93);
    --light-bg:#f3f3f3;
    --border:.1rem solid rgba(0,0,0.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.kent_logo{
    height: 30px;
    width:50px;
    align-self: center;
}
html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

.btn{
    margin-top:1rem;
    display:inline-block;
    padding:.8rem 3rem;
    background:var(--green);
    color:var(--white);
    font-size:1.7rem;
    cursor:pointer;
}
.btn:hover{
    background:var(--black);
}
.heading{
    background: url(../img/Log.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
}
.heading h1{
    color: var(--black);
    font-size: 4rem;

}
.heading p{
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--light-color);
}
.heading p a{

    color: var(--black);
    padding-right: .5rem;
}
.heading p a:hover{
    color: var(--green);
}

.catagory , .products , .gallary{
    padding: 0 14rem;
}
.title{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: var(--border);
    color: var(--black);
 
}
.title span{
    color: var(--green);
    padding-left:.7rem;
}
.title a{
    color: var(--light-color);
    margin-left: auto;
    font-size: 1.5rem;
}
.title a:hover{
    color: var(--green);
}
@mixin grid($val)
{
    display:grid;
    grid-template-columns: repeat(auto-fit , minmax($val , 1fr));
    gap:1.5rem;

}
.header{
    position: fixed;
    top:0; left:0;right:0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
   
}
.logo
{
    display: flex;
    align-items: center;
   font-size: 2.5rem;
   font-weight: bolder;
   color: var(--black);
  
}


.logo:hover{
    color: var(--green);
}
.navbar a{
    font-size: 1.7rem;
    color:var(--light-color);
    margin: 0 1rem;
}
.navbar a:hover{
    color: var(--green);
}
.icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem ;
    cursor: pointer;
    color: var(--light-color);
    display: var(--light-color);
}
.icons div:hover{
    color:var(--green)
}
.search-form{
    position: absolute ;
    top:-115%; right:2rem;
    width:50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 5.5rem;
    box-shadow: var(--box-shadow);
    background: var(--white);
}
.search-form input{
    height: 100%;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;

}
.search-form label
{
    font-size: 2.5rem;
    margin-right: 1.7rem;
    cursor: pointer;
    color: var(--light-color);

}
.search-form label:hover
{
    color: var(--green);
}
.active-search-form{
    top: 115%;

}
.shopping-cart{
    position: absolute;
    top: 115%; right:-105rem;
    background: var(--white);
    border-radius: .5rem ;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;
}
.active-shopping-cart{
    right:2rem;
    transition:.4s linear;

}
.shopping-cart .box{
    display:flex;
    align-items:center;
    gap:1.5rem;
    margin-bottom: 1.5rem;
    position:relative;

}

.shopping-cart .fa-times{
    position:absolute;
    top:50%; right:2rem;
    transform:translateY(-50%);
    font-size:2rem;
    color:--light-color;
    cursor:pointer;

}

.shopping-cart .fa-times:hover{

    color:var(--green);
}
.shopping-cart .box img{
    height:10rem;
}
.shopping-cart .box .content h3{
    font-size:1.7rem;
    padding-bottom: .5rem;
    color:var(--black);

}
.shopping-cart .box .content span{
    font-size:1.5rem;
    color:var(--light-color);
}
.shopping-cart .box .content span .multiple{
    margin:0 .5rem;
}
.total{
    font-size:2.2rem;
    color:var(--light-color);
    text-align:center;
}
.total span{
    color:var(--black);
}
.shopping-cart .btn{
    text-align:center;
    width:100%;

}
.login-form{
    position: absolute;
    top: 115%; right:-105%;
    background: var(--white);
    border-radius: .5rem ;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;

}
.login-form-active{
    right:2rem;
    transition:.4s linear;
}

.login-form h3{
    color:var(--black);
    text-transform:uppercase;
    font-size:2.2rem;
    text-align:center;
    margin-bottom:.7rem;
}
.login-form .box
{
    margin:.7rem 0;
    border:var(--border);
    padding:1rem 1.2rem;
    font-size:1.5rem;
    color:var(--black);
    text-transform:none;
    width:100%;
}
.login-form .remember-me{
    display:flex;
    align-items:center;
    gap:5rem;
    margin:.7rem 0;


}
.login-form label{
    font-size:1.5rem;
    color:var(--light-color);
    cursor:pointer;
}
.login-form .btn{
    margin:1rem 0;
    width:100%;
    text-align:center;
}
.login-form p{
    color:var(--light-color);
    padding-top: .7rem;
    font-size:1.4rem;

}
.login-form p a{
    color:var(--green);
}
.login-form p a:hover{
    text-decoration:underline;
}
#menu-btn{
    display: none;
   


}
.space{
    min-height:30vh;
}
.footer{
    background:var(--light-bg);

}
.footer .box-container{

    
    display:flex;
    align-items:center;
    justify-content:space-between;
    

}
.footer .box-container .box h3{
    font-size:2.2rem;
    color:var(--black);
    padding:1rem 0;
}
.footer .box-container .box p{
    font-size:1.5rem;
    color:var(--light-color);
    padding-bottom:.5rem;
}
.footer .box-container .box a{
    font-size:1.4rem;
    color:var(--light-color);
    padding:.1rem 0;
    display:block;
}
.footer .box-container .box a:hover{
    color:var(--green);
    padding-left:2rem;

}
.footer .box-container .box a i:hover{
    padding-right: 2rem;
}
.footer .box-container .box i{
    padding-right: .5rem;
    color:var(--green);
}
.credits{
    height:3rem;
    text-align:center;
    background:var(--green);
    color:var(--white);
    font-size:1rem;
}

@keyframes fadeLeft{
    0%{
        
        transform: translateX(-5rem);
        opacity: 0;
    }

}
@keyframes fadeUp{
    0%{
       
        transform: scale(.5);
        opacity: 0;
    }

}

.home{
    min-height: 100vh;
    padding-top:14rem;
    background: hsl(0, 4%, 80%);
    background-size:cover;
    background-position:center;
    position:relative;
}
.home .slide-container .slide{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:1.5rem;
    display:none;
    padding: 0 14rem ; 
}
.home .slide-container .slide .content{
    flex:1 1 40rem;
    animation: fadeLeft .4s linear .4s backwards;

}
.home .slide-container .active{
    display:flex;
}

.home .slide-container .slide .content span{
    color:var(--light-color);
    font-size:2.5rem;
}
.home .slide-container .slide .content h3{
    font-size:6rem;
    color:var(--black);
    padding:5rem 0;
}
.home .slide-container .slide .image{
    flex:1 1 40rem;
    margin: 3rem 0;
}
.home .slide-container .slide .image img{
    width:100%;
    animation: fadeUp .4s linear;
}
 #next-slide, #prev-slide{

    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    position: absolute;
    box-shadow: var(--box-shadow);
    text-align: center;
    background: var(--white);
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;
    top:50%;
    transform:translateY(-50%);
}
#next-slide:hover{
    background: var(--green);
    color: var(--white);
}
#prev-slide:hover{
    background: var(--green);
    color: var(--white);
}
#next-slide{
    right: 2rem;
}
#prev-slide{
    left: 2rem;
}
.banner-container{

    @include grid(32rem);
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.banner-container .banner{
    position: relative;
    height: 25rem;
    overflow: hidden;


}
.banner-container .banner:hover img{
    transform: scale(1.2);
}
.banner-container .banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-container .banner .content{
    position: absolute;
    top: 50%; left: 2rem;
    transform: translateY(-50%);
}
.banner-container .banner .content span{
    color: var(--black);
    font-size: 1.5rem;
}
.banner-container .banner .content h3{
    font-size: 2rem;
    padding-top: .5rem;
    color: var(--light-bg);
}
.banner-container .banner .content .btn{
    padding: .8rem 2.5rem;
}
.catagory .box-container{
    @inlude grid(16rem);
    display: flex;
    justify-content: space-around;
}
.catagory .box-container .box{
    text-align: center;
}
.catagory .box-container .box img{
    height: 15rem;
}
.catagory .box-container .box h3{
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--light-color);
}
.catagory .box-container .box:hover h3{
    color:var(--green);
}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products .box-container .box{
    position:relative;
    background: var(--light-bg);
    text-align: center;
    overflow: hidden;


}
.products .box-container .box .icons{
    position:absolute;
    top: -105%; left: 0;
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(243, 243, 243, .8);
    gap:1rem;
}
.products .box-container .box:hover  .icons{
    top: 0;
}
.products .box-container .box .icons a{
    font-size: 2rem;
    height:5rem ;
    width:5rem ;
    line-height: 5rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    color: var(--light-color);
}
.products .box-container .box .icons a:hover{
    background: var(--green);
    color: white;
}
.products .box-container .box .image{
    height: 30rem;
    width: 100%;
    overflow: hidden;

}
.products .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    
}
.products .box-container .box .content{
    padding: 2.5rem;
}
.products .box-container .box .content h3{
    font-size: 2rem;
    color: var(--black);
}
.products .box-container .box .content .price{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}
.products .box-container .box .content .start{
    font-size: 1.7rem;
    color: var(--green);
    
}
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.about .image{
    flex: 1 1 2rem;

}
.about .image img{
    width: 50%;
    
} 

.about .content{
    flex: 1 1 20rem;
    
}
.about .content span{
    color: var(--green);
    font-size: 2.5rem;
    
}
.about .content h3{
    color: var(--black);
    font-size: 3rem;
    padding-top: .5rem;
}
.about .content p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}


.gallary .box-container
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: .5rem;
   padding: .5rem;
   padding-top: 2rem;

}
.gallary .box-container .box{
    height: 25rem;
    overflow: hidden;
    position: relative;
    padding-top:2rem ;

}
.gallary .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.gallary .box-container .box:hover img {
    transform:scale(1.2);
}
.gallary .box-container .box:hover .icons{
    bottom: 0;
}

.gallary-image{
    height: 200px;
    width: 220px;
}
.gallary .box-container .box .icons
{
    text-align: center;
    background-color: rgba(0,0,0,.7);
    padding: 1.5rem 0;
    position: absolute;
    bottom: -6rem; left: 0; right: 0;
    z-index: 10;
}
.gallary .box-container .box .icons p
{
    color: var(--light-bg);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}


.about .image{
    overflow: hidden;
    height: 50%;
    width: 50%;
    border-radius: 50%;

}
.contact{
    width: 100%;
}
.contact .icons-container{
   display: flex;
   flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;

}
.contact .icons-container .icons{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}
.contact .icons-container .icons i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    background: var(--green);
    color: var(--white);
    border-radius:50% ;

}
.contact .icons-container .icons h3{
    color: var(--black);
    font-size: 2rem;
    padding: 1rem 0;
}
.contact .icons-container .icons p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 2;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.row form{
    padding: 2rem;
    border: var(--border);
    flex: 1 1 40rem;
}
.row form h3{
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color:var(--black) ;
}
.row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row form .inputBox input{
    width: 49%;
}
.row form .inputBox .box , textarea{
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    border: var(--border);
    color: var(--black) ;
    text-transform: none;
    margin: .7rem 0;
}
textarea{
    width: 100%;
    height: 15rem;
    resize: none;

}
.row .map{
    flex: 1 1 40rem;
    width: 100%;
}


@media (max-width:991px){

    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }

    .home #next-slide,.home #prev-slide{
        transform: translateY(0);
        top: 88%;
    }
.home #prev-slide{
        left: auto;
        right: 8rem;
    }

}





@media (max-width:768px){
#menu-btn{
	display:inline-block;

}
.header .navbar  , .nav-active{
	position:absolute;
	top:99%;	left:0; right:0;
	background:var(--white);
	border-top:var(--border);
	border-bottom:var(--border);
    clip-path:polygon(0 0, 100% 0 , 100% 0 , 0 0);
}
.header .nav-active{
    clip-path:polygon(0 0, 100% 0 , 100% 100% , 0 100%);

}
.header .search-form , .active-search-form{
    width: 100%;
    right: 0;
    border-radius: 0;

}
.header .active-search-form{
    top: 99%;
    border-top: var(--border);
    border-bottom: var(--border);
}
.header a{
	margin:1.5rem;
	padding:1.5rem;
	background:var(--light-bg);
	font-size:2rem;
	display:block;
	border-radius:.5rem;
	/*;*/
}





}

@media (max-width:450px){

	html{
		font-size:50%;
	}
    .home .slide-container .slide .content h3{
        font-size: 5rem;
    }
    .contact .row form .inputBox{
        width: 100%;
    }

}